body {
    font: Arial, sans-serif;
}

.text {
  padding-top: 30px;
  padding-bottom: 20px;  
}

.margin {
    padding-top: 40px;
    padding-bottom: 40px;
}

.navbar {
  background-color: #a1a0a1;
}

.quemSomos {
  background-color: rgba(184, 184, 184, 0.562);
  color: rgb(66, 66, 66);
}

.parceiros {
  background-color: rgba(121, 121, 121, 0.658);
  color: rgb(8, 0, 0);
}

.servicos {
  background-color: rgba(184, 184, 184, 0.562);
  color: rgb(66, 66, 66);
}

.rodape {
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 1px;
  font: Arial, sans-serif;
}